* {
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Muli',sans-serif;
}

:root {
    --main-color: rgb(0, 90, 156);
    --btn-color: #ff4d43;
    --border-color: #b3b4c9;
    --background-color:  rgb(244, 244, 244);
}

.clear {
    clear: both;
}

/* Frame */
.frame {
    width: 100%;
    padding-bottom: 20px;
}

.bgcolor-gray {
    background-color: var(--background-color);
}
