
/* -----------------------------------main----------------------------------- */
@keyframes FadeIn {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/* +++++++++++++ Head course++++++++++++++*/
.head-course{
    width: 100%;
    height: 170px;
    background: rgba(2, 11, 70, 0.801);
    margin-top: 100px;
    color: #fff;
    padding: 30px;
    display: flex;
    justify-content: center;

}

.course-box {
    width: 1100px;
    height: 100%;
}

.course-box p.title-search {
    font-size: 25px;
}

.input-group{
    margin-top: 30px;
    background:#fff;
    width: 450px;
    display:flex;
    justify-content: center;
    border-radius: 5px;
}
.icon-search{
    margin-top: 8px;
}
#text-input{
    width: 380px;
    height: 40px;
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
}

/* +++++++++++++ Container ++++++++++++++*/
.container{
    padding: 50px;
    display: flex;
    justify-content: center;
    background:rgba(234, 232, 232, 0.489);
}
.title-block{
    font-size: 28px;
}
.list-course{
    display: flex;
    justify-content:flex-start;
    flex-wrap: wrap;
    margin-bottom: 30px;

}
.course_and_tabhidden{
    display: inline-flex;
    justify-content: flex-start;
    position:relative;
}
/* Phần ảnh và mô tả môn học */
.main {
    width: 250px;
    height: auto;
    margin: 5px;
    border-radius: 10px;
    margin:15px 12px ;
    box-shadow: 0px 0px 20px rgba(106, 106, 106, 0.22);

}
.rate-online{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}
.rate-online .online{
    background: #FFAB00;
    width: 42px;
    height: 20px;
    font-size: 10px;
    text-align: center;
    line-height: 20px;
    color: #fff;
    border-radius: 13px;
}
/* phần ảnh */
.main img{
    width: 250px;
    height: auto;
    border-radius: 10px;
    border-bottom-right-radius: 0;
    box-shadow: 0px 0px 20px rgba(106, 106, 106, 0.22);

}
/* phần mô tả môn học */
a{
    color: black;
    text-decoration: none;
}
h3{
    margin-bottom: 0;
}
.content{
    box-sizing: border-box;
    background-color: aliceblue;
    margin-top: -50px;
    position:relative;
    padding: 20px;
    border-radius: 5px;
    border-top-right-radius: 50px;
    border-top-left-radius: 0;
    min-height: 250px;
}
.free{
    position: absolute;
    bottom:0;
    padding: 20px 0;
    padding-right: 60%;
    border-top: 1px solid gray;
    color: #4c5eff;
    font-size: 16px;
}
.author,.about{
    color: #42526e;
    /* margin: 0; */
}
.author{
    font-size: 13px;
    height: 10px;
}
.about{
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 50px;
    margin-top: 10px;
}
.main .content h3:hover a {
    color:#4c5eff;
}
.main .content span:hover a {
    text-decoration: underline;
}
/* Tab ẩn */

.tabhidden{
    width: 300px;
    height: 379px;
    background:#fff;
    position: absolute;
    left: 280px;
    top:15px;
    display:none;
    z-index: 1;
    border-radius: 5px;
    padding: 25px;
    box-shadow: 0px 0px 20px rgba(106, 106, 106, 0.22);
    animation: FadeIn ease .2s ;
}
.author-rate{
    display:flex;
    justify-content: space-between;
    line-height: 32px;
    padding: 10px 0 20px;
    border-bottom: 1px solid black;
}
.avatar-name_author .avatar-author{
    float: left;
    border: 1px solid black;
    padding:0 8px;
    border-radius: 50%;
    margin-right: 10px;
}
.avatar-name_author .name-author>a{
    color: #4c5eff;
    font-size: 13px;
}

.course_and_tabhidden:hover .tabhidden{
    display:block;
}
.tabhidden > h3:hover > a, .tabhidden  .name-author:hover > a{
    text-decoration: underline;
}
/* Phần thông tin học viên, giờ học,.... */
.list-course-detail{
    padding-top: 20px;
    font-size: 13px;
}
.course-detail{
    padding-top: 10px;
}
.course-detail > i{
    color: #4c5eff;
    padding-right: 10px;

}

/* -----------------------------------footer----------------------------------- */
footer{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
footer p, footer li {
    font-size: 15px;
    color: #3B3C54;
}
#logo-footer{
    float:left;
    width: 500px;
    margin-right: 100px;
}

#logo-footer p {
    line-height: 1.6;
}
#img-footer {
    width: 200px;
}

/* mạng xã hội */
.lienhe{
    margin-top: 10px;
    display:inline-flex;
    justify-content: flex-start;
}

.logo-lienhe{
    width: 30px;
    height: 30px;
    margin-right: 10px;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
}
.logo-lienhe > a > i{
    color: white;
}
.fb{
    background: #3B5998;
}
.yt{
    background: rgb(233, 27, 27);
}
.tw{
    background: #1DA1F2;
}
.ins{
    background: #8A3AB9;
}
/*  */

.menu-footer{
    float: left;
    margin-right: 50px;
}

.menu-footer ul {
    padding-inline-start: 0px;

}

.menu-footer h3 {
    color: rgb(89, 7, 242);
    text-transform: uppercase;
    
}

.menu-footer ul li{
    list-style: none;
    padding: 10px 0;
    margin-left: -10px;

}

.menu-footer ul li a{
    text-decoration: none;
    color: rgb(69, 69, 69);
    padding: 10px;
}

.menu-footer ul li:hover a {
    color: rgb(17, 42, 180);
    text-decoration: underline;
}