#header{
    height: 100px;
}
body{
    background-color: #f1f1f1;
    font-family: 'Muli',sans-serif;
}
main{
    width: 90%;
    height: auto;
    margin: 0 auto 100px;
    display: flex;
    justify-content: space-between;
}
a{
    color: #2c31cf;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
h1,h2,h4{
    margin: 20px 0 10px 0;
}
h3 {
    padding: 10px;
}

p{
    margin-bottom: 10px;
    color: #4c4c4c;
}
li{
    color: #4c4c4c;
    margin-bottom: 10px;
}
.danhsach-xuhuong{
    display: flex;
    justify-content: space-between;
    /* padding: 10px; */
    
}
.xuhuong{
    width: 30%;
    background-color: #fff;
    padding: 15px;
    box-shadow: 0 0 10px rgba(128, 128, 128, 0.16);
    position: relative;
}

.title-box-news {
    width: 100%;
    height: 95px;
    overflow: hidden;
    margin-bottom: 20px;

}

.xuhuong p{
    /* display:-webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; */
    /* overflow: hidden;
    text-overflow: ellipsis; */
    line-height: 1.6;
    text-align: justify;
    
}
.xuhuong img, .bai-viet-moi img{
    width: 380px;
    height: 200px;
    margin-bottom: 10px;
}
.xuhuong .list-tag{
    margin-bottom: 40px;
    
}
.xuhuong .tacgia-luotxem {
    margin-top: 20px;
    font-size: 13px;
    color: #4c4c4c;
    border-bottom:none;
    border-top: 1px solid rgba(128, 128, 128, 0.217);
    position: absolute;
    bottom: 10px;
    right: 5px;
    left: 5px;
}
/* bài viết mới */
.bai-viet-moi{
    display: flex;
    background-color: #fff;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(128, 128, 128, 0.16);

}
.bai-viet-moi .xuhuong{
    width: 70%;
    box-shadow: none;
    padding: 0;
    margin-left: 15px;
    margin-top: 10px;
}
/* Trang trái */
.main-left{
    width: 80%;
    background-color: white;

}
.tacgia-luotxem{
    display: flex;
    justify-content: space-between;
    height: 35px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.217);
    padding: 10px;
    
}

/* phần nội dung chính */
.noidungchinh{
    /* width: 95%; */
    margin: 0 auto;
    padding: 25px;
    text-align: justify;
}

.noidungchinh p {
    text-indent: 25px;
    line-height: 1.6;
    font-size: 18px;
}

.sao-danhgia {
    margin: 10px 0;
}

.noidungchinh img{
    width: 100%;
    padding: 20px 0;
}
.code{
    background-color: black;
    color: rgb(171, 171, 171);
    padding: 10px 30px;
    font-weight: bold;
    margin-bottom: 10px;
}
.tag-share{
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    border-bottom: 1px solid rgba(128, 128, 128, 0.217);

}
.list-tag{
    display: flex;
    flex-wrap: wrap;
}
.tag{
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #dcdcdc;
    color: #898989;
    background-color: #f5f5f5;
}

.noidungchinh ul li {
    line-height: 1.6;
}

a:hover .tag{
    background-color: #3b3c54;
    color: #fff;
    text-decoration: none;
}
.share{
    background-color: #2c31cf;
    color: white;
    padding: 5px 10px;
}
/* Trang phải */
.main-right{
    width: 20%;
    margin-left: 50px;
    
}
.main-right h4{
    margin-top: 0;
    text-align: left;
}
.tacgia-lienhe{
    background-color: white;
    width: 300px;
    padding: 20px;
    margin-bottom: 30px;
    text-align: center;

}
.tacgia-lienhe .img{
    margin:10px 50px 50px;
    
}
.tacgia-lienhe img{
    width: 100%;
    /* margin: 0 20px; */
}
.tacgia-lienhe p{
    display: flex;
    text-align: start;
}
.theodoi{
    padding: 5px 10px;
    border: 1px solid #2c31cf;
    color: #2c31cf;
    width: 40%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 30px;

}

.lienhe{
    display: flex;
    justify-content: center;
}

.mxh{
    width: 35px;
    height: 35px;
    background: #457abd;
    margin: 0 5px;
    color: white;
    line-height: 40px;
    border-radius: 5px;
}
/* bài viết cùng tác giả */
.bai-viet-cung-tac-gia{
    background-color: #fff;
    padding: 20px;
    margin-bottom: 30px;
    
}
.bai-viet-cung-tac-gia a{
    color: black;
}
.baiviet{
    display: flex;
    border-bottom: 1px solid rgba(128, 128, 128, 0.217);
    padding-bottom: 20px;
    margin-top: 10px;
}
.baiviet img{
    width: 65px;
    height: 45px;
    
}
.baiviet span{
    margin: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    display:-webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    
}
