#main {
    max-width: 1300px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
}

/* Main-Box ----------------------------------*/
.main-box {
    width: 1300px;
    height: 600px;
}

/* Main-Box First - Giới thiệu tầm quan trọng của Tin học */

.title-box {
    color: var(--main-color);
    font-size: 50px;
    text-align: center;
}

.content-box {
    margin-top: 30px;
}

.content-box .img  {
    width: 55%;
    float: left;
    margin-left: -50px;
}

.content-box .img img {
    width: 800px;
}

.content-box .list-key {
    width: 40%;
    float: right;
    margin-top: 100px;
}

.list-key li {
    list-style: none;
    margin-bottom: 50px;

}

.list-key li i {
    font-size: 30px;
    color: rgb(253, 95, 95);
}

.list-key li span {
    font-size: 28px;
    font-weight: bold;
    color: var(--main-color);
    padding-left: 20px;
}

.list-key li p {
    font-size: 18px;
    line-height: 1.6;
    margin-top: 20px;
    text-align: justify;
}
